.reveal {
    font-family: "Ubuntu";
}
.reveal h1, .reveal h2, .reveal h3,
.reveal h4, .reveal h5, .reveal h6 {
    text-transform: inherit;
    font-family: "Comfortaa";
    color: #345;
}
.reveal h1 {
    font-size: 1.6em;
}
.reveal h2 {
    font-size: 1.4em;
}
.reveal code {
    color: grey;
}
.reveal pre {
    background: #f1f1f1;
    line-height: 1.2em;
    font-size: .8em;
}
.reveal p {
    text-align: left;
    margin-left: 55px;
    color: #443;
}
.reveal li {
    color: #456;
}
.reveal i {
    color: #6a6;
}
.reveal b {
    color: #a66;
}
